/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* common area css */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0;
    padding: 0;
}
.container{
    background-color: #ffff;
    width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}
hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* hedder are design */
.logo-area {
    display: flex;
    column-gap: 16px;
    align-items: center;
}
.logo-area img {
    height: 50px;
    width: 40px;
}
nav {
    display: flex;
    justify-content: space-around;
    background-color: #562EFF;
    padding: 10px 20px;
}
.nav-manu {
    display: flex;
}
.nav-manu ul {
    display: flex;
    column-gap: 35px;
    list-style: none;
}
.nav-manu ul li a {
    color: black;
    text-decoration: none;
}
.profile-img {
    margin-left: 30px;
}




/* top player area css */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-palyers-area{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players-area {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player {
    display: flex;
    align-items: center;
}
.player img {
    width: 56px;
    height: 56px;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/* top blog area css */
.blog-area {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog {
    display: flex;
}
.blog .blog-img img {
    width: 224px;
    height: auto;
}
.blog-caption {
    margin-left: 16px;
}
.blog-title {
    font-size: 20px;
}
.blog-author {
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}
/* courses area css */
.lates-course-area {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
.coures-banner img {
    width: 224px;
    height: 104px;
}
.course-detail h2 {
    font-size: 20px;
    font-weight: 500;
    color: #1E1E1E;
}
.course-detail p a {
    text-decoration: none;
    color: #ED6B4F;
    font-size: 15px;
    font-weight: normal;
}
.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fas.fa-star.filled {
    color: #FFC014;
}
.fas.fa-star.empty {
    color: #AEAEAE;
}
.courses-duration {
    background-color: #FFE4E8;
    padding: 10px 25px;
    border-radius: 30px;
    color: #ED6B4F;
    font-size: 15px;
}